In [2]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp38-cp38-win_amd64.whl (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 1.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3

In [21]:
import psycopg2 as pg2

# Connect to database
conn = pg2.connect(host='localhost', database='optionsdata', user='openoptions', password='openoptions', port='5432')

In [23]:
conn.status

1

In [24]:
s = ""
s += "SELECT"
s += " table_schema"
s += ", table_name"
s += " FROM information_schema.tables"
s += " WHERE"
s += " ("
s += " table_schema = 'public'"
s += " )"
s += " ORDER BY table_schema, table_name;"

In [26]:
db_cursor = conn.cursor()
db_cursor.execute(s)
list_tables = db_cursor.fetchall()

for t_name_table in list_tables:
    print(t_name_table)

('public', 'fb')
('public', 'goog')

In [36]:
# query database
query = 'SELECT * FROM fb;'

In [38]:
cur = conn.cursor()
cur.execute(query)

ha = cur.fetchall()
print(type(ha))

<class 'list'>

In [43]:
import pandas as pd
df = pd.DataFrame(ha)

In [44]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,PUT,GOOG_061722P2040,GOOG Jun 17 2022 2040 Put,5.0,6.5,5.00,22,7,0,7.10,...,0.001,-1.464,0.497,-0.040,72,5.00,5.779,2040.0,1655496000000,5
1,PUT,GOOG_061722P2050,GOOG Jun 17 2022 2050 Put,5.7,7.2,6.10,23,5,0,8.10,...,0.001,-1.549,0.535,-0.045,302,6.10,6.395,2050.0,1655496000000,5
2,PUT,GOOG_061722P2060,GOOG Jun 17 2022 2060 Put,6.5,7.5,6.63,22,9,0,9.22,...,0.001,-1.626,0.573,-0.049,57,6.63,7.011,2060.0,1655496000000,5
3,PUT,GOOG_061722P2070,GOOG Jun 17 2022 2070 Put,7.4,8.4,6.80,23,12,0,10.27,...,0.001,-1.749,0.622,-0.055,57,6.80,7.976,2070.0,1655496000000,5
4,PUT,GOOG_061722P2080,GOOG Jun 17 2022 2080 Put,8.4,10.0,8.90,13,3,0,11.13,...,0.001,-1.874,0.673,-0.061,83,8.90,9.054,2080.0,1655496000000,5